* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(242, 242, 242);
}

*:focus {
    outline: none;
}

#logo {
    text-align: center;
}

#logo a {
    display: inline-block;
    padding: 16px 0;
}

#logo img {
    height: 36px;
}

#search_box .row {
    margin: 0;
}

#btn_submit {
    background-color: #3b78e7;
    color: #fff;
    border: 1px solid #3367d6;
}

#sort_select {
    background-color: #fff;
    position: absolute;
    top: 4px;
    right: 55px;
    border: 0;
    z-index: 10;
    color: #9e9e9e;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

#sort_pick {
    padding: 10px 16px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
}

.checkbox-inline {
    padding: 0;
}

#page {
    padding: 0 8px;
}

#tips {
    display: none;
}

.result {
    margin-bottom: 10px;
    padding: 11px 16px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 16px;
    padding-bottom: 11px;
    border-bottom: 1px solid #ebebeb;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .1);
}

.title a {
    color: #3f51b5;
}

.title span {
    font-style: normal;
    color: red;
}

.source-line {
    font-size: 12px;
    line-height: 12px;
    padding-top: 11px; 
}

.content {
    padding-top: 8px;
}

.content p {
    margin: 0;
}

.content span {
    font-style: normal;
    color: red;
}

.url {
    padding-top: 2px;
    color: #2a9457;
}

#page_controller div {
    text-align: center;
    color: #9e9e9e;
}

#page_controller a {
    color: #9e9e9e;
}

#footerinfo {
    line-height: 40px;
}

#search {
    padding: 0 8px;
}

#search_box, #sort_pick {
    margin-bottom: 10px;
}