<!DOCTYPE html>
<html>
<head>
    <title>Inspiration</title>
    <include file="Public/header" />
	<link rel="stylesheet" href="__PUBLIC__/css/index.css">
</head>
<body>

    <div id="top">
<!--     	<div id="persional" class="pull-right">
    		<img src="__PUBLIC__/img/default/my.jpg" class="img-circle">
    	</div> -->
    	<div id="news" class="col-xs-3 pull-right">
    	    <a href="http://six.classmateer.com">
    	    	<img src="__PUBLIC__/img/default/news.png" class="img-circle" title="SixChat">
    	    </a>
    	</div>
<!--         <span class="glyphicon glyphicon-th pull-right" id="apps"></span> -->
    </div>

	<div id="page">

		<div id="logo">
			<img alt="logo" src="__PUBLIC__/img/default/Inspiration_logo.png">
		</div>

	    <div id="search_box" class="container">  
	        <form action="search" method="get">
		    	<div class="row">
					<div class="col-xs-12">
						<div class="input-group">
							<input type="text" class="form-control input-lg" id="query" name="q" autocomplete="off">
							<span class="input-group-btn">
								<button class="btn input-lg" type="submit" id="btn_submit">Go</button>
							</span>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div id="module">
			<ul class="list-inline">
				<li class="col-xs-3">
				    <!-- <a href="http://baidu.weather.com.cn"> -->
				    <a href="https://www.baidu.com/ssid=38cb53747269636b59616e96a6/from=844b/s?word=%E5%A4%A9%E6%B0%94&ts=5776403&t_kt=50&ie=utf-8&fm_kl=021394be2f&rsv_iqid=2283932662&rsv_t=20141o6LccwZOFEzEPLI3BfpWbTnRLqLSAs6Uvj%252FWMCHNOcE3S2cVqKltg&sa=ib&ms=1&rsv_pq=2283932662&rsv_sug4=2075&inputT=864&ss=100">
				        <div class="module-div-img"><img src="__PUBLIC__/img/default/weather_2.png"></div>
				        Weather
				    </a>
				</li>
				<li class="col-xs-3">
				    <a href="http://info.lib.szu.edu.cn/lyds/archives/category/lectures">
				        <div class="module-div-img"><img src="__PUBLIC__/img/default/study.png"></div>
				        Leature
				    </a>
				</li>
				<li class="col-xs-3">
				    <a href="http://www.szu.me/activity/">
				        <div class="module-div-img"><img src="__PUBLIC__/img/default/lecture.png"></div>
				        Activity
				    </a>
				</li>
				<li class="col-xs-3">
				    <a href="http://www.szu.me/kebiao">
				        <div class="module-div-img"><img src="__PUBLIC__/img/default/cal.jpg"></div>
				        Course
				    </a>
				</li>
			</ul>
			<ul class="list-inline">
				<li class="col-xs-3">
				    <a href="http://m.szu.edu.cn">
				        <div class="module-div-img"><img src="__PUBLIC__/img/default/szu2014.ico"></div>
				        SZU
				    </a>
				</li>
				<li class="col-xs-3">
				    <!-- <a href="http://m.szu.edu.cn/site/ditu.jsp"> -->
				    <a href="http://map.baidu.com/mobile/webapp/index/index/foo=bar/vt=map">
				        <div class="module-div-img"><img src="__PUBLIC__/img/default/maps.png"></div>
				        Maps
				    </a>
				</li>
				<li class="col-xs-3">
				    <a href="http://www.lyztt.com.cn/html/bus20170321/bus/main/index.html">
				        <div class="module-div-img"><img src="__PUBLIC__/img/default/bus.png"></div>
				        Mini Bus
				    </a>
				</li>
				<li class="col-xs-3">
				    <a href="http://stu.szu.edu.cn/">
				        <div class="module-div-img"><img src="__PUBLIC__/img/default/stu.png"></div>
				        STU
				    </a>
				</li>
			</ul>
		</div>

	</div>

    <div id="about_img"><img src="__PUBLIC__/img/default/about.jpg"></div>

	<div id="footer">
		<p>&copy2017 <span id="about" title="Surprise">Inspiration</span></p>
	</div>
	<!-- {$server} -->
    <include file="Public/footer" />
    <script src="__PUBLIC__/js/index.js"></script>
</body>
</html>