<!DOCTYPE html>
<html>
<head>
	<title>Details</title>
	<include file="Public/header" />
	<link rel="stylesheet" href="__PUBLIC__/css/details.css">
</head>
<body>
    <div id="header" class="container navbar-fixed-top">
	    <div class="row">
		    <div class="col-xs-4" id="pre"> 
                <a onclick="javascript :history.back(-1)">
		            <span class="glyphicon glyphicon-chevron-left"></span> 
		        </a>
		    </div>
		    <div class="col-xs-4 text-center" id="cur">
		        Inspiration
		    </div>
<!-- 		    <div class="col-xs-4" id="next_page">
		        <a href="">
		            <span class="glyphicon glyphicon-chevron-right"></span>
		        </a>
		    </div> -->
	    </div>
    </div>
    <div id="page"></div>
    <div id="footer">
        原网页由Ins转码以便移动设备阅读 <a href="http://www.szu.edu.cn/board/view.asp?id={$input.view_id}">阅读原文</a>
    </div>
	{$script_page}
    <include file="Public/footer" />
    <script src="__PUBLIC__/js/details.js"></script>
</body>
</html>